.popup__line-name {
  margin-left: 36px;
  padding: 8.5px 0 0 0;
  width: 358px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  .popup__line-name {
    width: 238px;
    margin-left: 23px;
  }
}
