.popup__main-container {
  margin: auto;
  padding: 0;
  width: 430px;
  height: 330px;
  border: 0;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

@media (max-width: 600px){
  .popup__main-container {
    width: 282px;
    height: 322px;
  }
}
