.header__logo {
  margin: 0;
  object-fit: cover;
}

@media (min-width: 1280px) {
  .header__logo {
    width: 142px;
  }
}

@media (max-width: 1279px) and (min-width: 1025px) {
  .header__logo {
    width: calc(142px - 12.7px);
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .header__logo {
    width: calc(142px - 12.7px - 12.7px);
  }
}

@media (max-width: 768px) and (min-width: 426px) {
  .header__logo {
    width: calc(142px - 12.7px - 12.7px - 12.7px);
  }
}

@media (max-width:425px) {
  .header__logo {
    width: 103.74px;
    padding-left: 27px;
  }
}
