.header__logo {
  margin: 0;
  object-fit: cover;
  width: 142px;
}

@media (max-width: 1279px) {
  .header__logo {
    width: calc(142px - 12.7px);
  }
}

@media (max-width: 1024px) {
  .header__logo {
    width: calc(142px - 12.7px - 12.7px);
  }
}

@media (max-width: 768px) {
  .header__logo {
    width: calc(142px - 12.7px - 12.7px - 12.7px);
  }
}

@media (max-width:425px) {
  .header__logo {
    width: 103.74px;
    padding-left: 27px;
  }
}
