.header {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 880px;
  padding-top: 45px;
}

.header::after{
  content: '';
  background-color: #545;
  height: 1px;
  display: block;
  margin: 40px 0 0 0;
  opacity: 0.7;
}

@media (max-width: 1279px) {
  .header {
    width: calc(880/1280*100%);
    /*68.75%*/
    padding-top: calc(45/1280*100%);
  }

  .header::after{
    margin-top: calc(40px - 2.8px);
  }
}

@media (max-width:425px) {
  .header {
    width: 100%;
    padding-top: 28px;
  }

  .header::after {
    margin-top: 31.6px;
  }
}
