.popup-image__close {
	margin: 0;
	padding: 0;
  background-image: url(../../../images/CloseIcon.svg);
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  border: 0;
  transition: opacity 0.2s;
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup-image__close:hover {
  opacity: 0.6;
}

@media (max-width: 600px) {
  .popup-image__close {
    width: 20px;
    height: 20px;
    right: 1px;
    top: -35px;
  }
}
