.element {
  margin: 0;
  padding: 0;
  background: #FFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  width: 282px;
  height: 361px;
  border: 0;
  border-radius: 10px;
  position: relative;
}

@media (max-width: 350px) {
  .element {
    margin-top: 1px;
  }

  .element:nth-child(1) {
    margin-top: 0px;
  }

  .element:nth-child(4) {
    margin-top: 3px;
  }
}
